{{define "header"}}
<!doctype html>
<html lang="es" data-theme="dark">
<head>
  <meta charset="utf-8">
  <title>Traccia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dashboard/static/vendor/uPlot.min.css">
  <link rel="stylesheet" href="/dashboard/static/style.css">
  <script src="/dashboard/static/vendor/htmx.min.js"></script>
  <script src="/dashboard/static/vendor/uPlot.iife.min.js"></script>
  <script src="/dashboard/static/dashboard.js" defer></script>
</head>
<body>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}
